services/frontend_nuxt3
services/frontend_nuxt/nuxt.config.js
services/frontend_nuxt/.env
services/frontend_mobile/
services/task_management/.env
services/xrpl/.env
services/xrpl_management/.yarn
services/xrpl_management/.env
Complete_Overview.txt
Technical_Specification.txt

.env
.idea
.pytest_cache
.readmes
.vscode
.task-management-api.yaml
__pycache__

application-74642a80-c740-4eb0-85f1-1b2403081695.apk
