<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XRPL Service</title>
<body>
  <h1>This service is running</h1>
    <h2>WebSocket Events</h2>
    <ul id="events-list"></ul>

    <script>
        const socket = new WebSocket("ws://127.0.0.1:8080/ws");
        const eventsList = document.getElementById("events-list");

        socket.addEventListener("open", (event) => {
          console.log("WebSocket connected:", event);
        });

        socket.addEventListener("message", (event) => {
          console.log("WebSocket message received:", event.data);
          const li = document.createElement("li");
          li.textContent = event.data;
          eventsList.appendChild(li);
        });

        socket.addEventListener("close", (event) => {
          console.log("WebSocket disconnected:", event);
        });
    </script>
</body>
</html>