<!DOCTYPE html>
<html>
  <head>
    <title>Payment Form</title>
  </head>
  <body>
    <h1>Payment Form</h1>
    <form action="/payment" method="post">
      <label for="amount">Amount:</label>
      <input type="text" id="amount" name="amount" required /><br /><br />

      <label for="source">Source:</label>
      <input
        type="text"
        id="source"
        name="source"
        required
        value="rB4iz44nvW2yGDBYTkspVfyR2NMsR3NtfF"
      /><br /><br />

      <label for="destination">Destination:</label>
      <input
        type="text"
        id="destination"
        name="destination"
        required
        value="rpaxHGQVgQSXF1HaKGRpLKm6X7eh26v6eV"
      /><br /><br />

      <label for="note">Note:</label>
      <input type="text" id="note" name="note" required /><br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>